[submodule "blueprints/incredible-squaring/contracts/lib/forge-std"]
	path = blueprints/incredible-squaring/contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "blueprints/incredible-squaring/contracts/lib/eigenlayer-middleware"]
	path = blueprints/incredible-squaring/contracts/lib/eigenlayer-middleware
	url = https://github.com/Layr-Labs/eigenlayer-middleware