[workspace]
resolver = "2"
members = [
    "blueprint-metadata",
    "blueprints/incredible-squaring",
    "cli",
    "gadget-io",
    "blueprint-test-utils",
    "blueprint-manager",
    "sdk",
    # Commented out, since it uses jobs-v1 code
    #"tangle-test-utils",

    "macros/blueprint-proc-macro",
    "macros/blueprint-proc-macro-core",
    "macros/blueprint-proc-macro-playground",
]
exclude = [
    "tangle-test-utils",
    "example",
    # "blueprints/ecdsa-threshold-mpc",
    # "blueprints/tangle-avs-blueprint"
]

[workspace.package]
authors = ["Webb Technologies Inc."]
edition = "2021"
license = "MIT OR Apache-2.0"
homepage = "https://tangle.tools"
repository = "https://github.com/webb-tools/gadget"

[workspace.lints.rust]
rust_2018_idioms = { level = "deny", priority = -1 }
trivial_casts = "deny"
trivial_numeric_casts = "deny"
unused_import_braces = "deny"

[workspace.lints.clippy]
pedantic = { level = "deny", priority = -1 }
all = { level = "deny", priority = -1 }
single_match_else = "allow"

[workspace.lints.rustdoc]
broken_intra_doc_links = "deny"

[workspace.dependencies]
gadget-io = { version = "0.0.2", path = "./gadget-io", default-features = false }
blueprint-manager = { version = "0.1.1", path = "./blueprint-manager" }
blueprint-test-utils = { path = "./blueprint-test-utils" }
gadget-sdk = { path = "./sdk", default-features = false }

gadget-blueprint-proc-macro = { path = "./macros/blueprint-proc-macro", default-features = false, version = "0.1.2" }
gadget-blueprint-proc-macro-core = { path = "./macros/blueprint-proc-macro-core", default-features = false, version = "0.1.2" }
blueprint-metadata = { path = "./blueprint-metadata", default-features = false, version = "0.1.2" }
cargo-tangle = { path = "./cli" }
cargo_metadata = { version = "0.18.1" }

# Tangle-related dependencies
tangle-subxt = { version = "0.3.0", default-features = false }

subxt-signer = { version = "0.37.0", default-features = false }
subxt = { version = "0.37.0", default-features = false }
subxt-core = { version = "0.37.0", default-features = false }
round-based = "0.3.0"

sp-core = { version = "34.0.0", default-features = false }
sp-io = { version = "38.0.0", default-features = false }
sp-std = { version = "14.0.0", default-features = false }
sp-runtime = { version = "39.0.0", default-features = false }
sc-utils = { version = "17.0.0", default-features = false }
sp-api = { version = "34.0.0", default-features = false }
sp-application-crypto = { version = "38.0.0", default-features = false }
sp-keystore = { version = "0.40.0", default-features = false }
sp-externalities = { version = "0.29.0", default-features = false }

sc-client-api = { version = "37.0.0", default-features = false }
sc-keystore = { version = "33.0.0", default-features = false }
parity-scale-codec = { version = "3.6.12", default-features = false }

scale-info = { version = "2.11.3", default-features = false }


async-trait = "0.1.82"
auto_impl = "1.2.0"
backon = { version = "1.2.0", default-features = false }
bincode = "1.3.3"
cargo-generate = { version = "0.21.3", default-features = false }
cfg-if = "1.0.0"
clap = "4.5.16"
clap-cargo = "0.14"
color-eyre = { version = "0.6", features = ["tracing-error", "color-spantrace"] }
ed25519-zebra = { version = "4" }
elliptic-curve = { version = "0.13.8" }
escargot = "0.5.12"
ethereum-types = { version = "0.14.1", default-features = false }
failure = "0.1.8"
fs2 = "0.4"
futures = "0.3.30"
getrandom = { version = "0.2.15", default-features = false }
hex = { version = "0.4.3", default-features = false }
http-body-util = "0.1.2"
hyper = { version = "1.4.1", default-features = false }
hyper-util = "0.1.7"
itertools = "0.13.0"
k256 = { version = "0.13.3", default-features = false }
libp2p = { version = "0.54", default-features = false }
lock_api = "0.4.12"
log = "0.4.22"
multiaddr = { version = "0.18.1", default-features = false }
nix = { version = "0.29.0", features = ["process", "signal"] }
parking_lot = "0.12.3"
proc-macro2 = "1.0"
prometheus = { version = "0.13.4", default-features = false }
quote = "1.0"
rand = { version = "0.8.5", default-features = false }
reqwest = "0.12.7"
rustdoc-types = "0.30.0"
schnorrkel = { version = "0.11.4", default-features = false, features = ["preaudit_deprecated", "getrandom"] }
serde = { version = "1.0.208", default-features = false }
serde_json = "1.0"
sha2 = "0.10.8"
sqlx = "=0.7.3"
structopt = "0.3.26"
syn = "2.0.75"
sysinfo = "0.31.2"
# TODO: Stop using this fork once https://github.com/dtolnay/thiserror/pull/304 lands
thiserror = { git = "https://github.com/quartiq/thiserror", branch = "no-std", default-features = false }
tokio = { version = "1.39.3", default-features = false }
toml = "0.8.19"
tracing = { version = "0.1", default-features = false }
tracing-subscriber = { version = "0.3", default-features = false }
uuid = "1.10.0"
derive_more = { version = "1.0.0", features = ["display"] }
trybuild = "1.0"
tsify = "0.4.5"
typed-builder = "0.19"
# TODO: Stop using this fork once https://github.com/servo/rust-url/pull/831 lands
url = { git = "https://github.com/domenukk/rust-url", branch = "no_std", default-features = false }
w3f-bls = { version = "0.1.4", default-features = false }
cid = { version = "0.11.1" }

alloy-primitives = "0.7.7"
alloy-json-abi = "0.7.7"
alloy-sol-types = "0.7.7"
alloy-rpc-types = { version = "0.2.1" }
alloy-provider = { version = "0.2.1", default-features = false, features = ["reqwest", "ws"] }
alloy-pubsub = { version = "0.2.1" }
alloy-signer = { version = "0.2.1" }
alloy-signer-local = { version = "0.2.1" }
alloy-network = { version = "0.2.1" }
alloy-contract = { version = "0.2.1" }
alloy-transport = { version = "0.2.1" }

ark-bn254 = "0.4.0"
ark-ec = "0.4.0"
ark-ff = "0.4.0"
ark-std = "0.4.0"
ark-serialize = "0.4.0"

# WebAssembly
js-sys = "0.3.70"
serde-wasm-bindgen = "0.6.5"
wasm-bindgen = "0.2.93"
wasm-bindgen-futures = "0.4.43"
wasmtime = { version = "23.0.2", default-features = false }
wasmtimer = "0.2"
secp256k1 = "0.29.1"

# Eigenlayer
# TODO: Remove this branch, point to main once https://github.com/webb-tools/eigensdk-rs/pull/20 is merged
eigensdk-rs = { git = "https://github.com/webb-tools/eigensdk-rs.git", branch = "donovan/maintenance" }

# Config for 'cargo dist'
[workspace.metadata.dist]
# The preferred cargo-dist version to use in CI (Cargo.toml SemVer syntax)
cargo-dist-version = "0.22.1"
# CI backends to support
ci = "github"
github-build-setup = "build-setup.yml"
# The installers to generate for each app
installers = ["shell"]
# Target platforms to build apps for (Rust target-triple syntax)
targets = ["aarch64-apple-darwin", "x86_64-apple-darwin", "x86_64-unknown-linux-gnu"]
# Path that installers should place binaries in
install-path = "CARGO_HOME"
# Whether to install an updater program
install-updater = true
bin-aliases = { cargo-tangle = ["tangle", "tg"] }
members = ["cargo:/cli"]

[profile.dev.package.backtrace]
opt-level = 3

# The profile that 'cargo dist' will build with
[profile.dist]
inherits = "release"
lto = "thin"
