[workspace]
resolver = "2"
members = [
    "blueprint-metadata",
    "blueprints/*",
    "cli",
    "core",
    "common",
    "executor",
    "environments/tangle",
    "environments/utils",
    "gadget-io",
    "blueprint-test-utils",
    "protocol-macros",
    "blueprint-manager",
    "sdk",
    # Commented out, since it uses jobs-v1 code
    #"tangle-test-utils",

  "macros/blueprint-proc-macro",
  "macros/blueprint-proc-macro-core",
  "macros/blueprint-proc-macro-playground",
]
exclude = ["tangle-test-utils", "example"]

[workspace.package]
authors = ["Webb Technologies Inc."]
edition = "2021"
license = "MIT OR Apache-2.0"
homepage = "https://tangle.tools"
repository = "https://github.com/webb-tools/gadget"

[workspace.dependencies]
gadget-core = { version = "0.0.1", path = "./core", default-features = false }
gadget-common = { version = "0.1.0", path = "./common", default-features = false }
gadget-io = { version = "0.0.1",  path = "./gadget-io", default-features = false }
gadget-executor = { version = "0.1.0", path = "./executor" }
blueprint-manager = { version = "0.1.1", path = "./blueprint-manager"}
blueprint-test-utils = { path = "./blueprint-test-utils" }
gadget-sdk = { path = "./sdk", default-features = false }
protocol-macros = { path = "./protocol-macros" }
tangle-environment = { path = "./environments/tangle", default-features = false }
environment-utils = { path = "./environments/utils", default-features = false }

gadget-blueprint-proc-macro = { path = "./macros/blueprint-proc-macro", default-features = false, version = "0.1.0" }
gadget-blueprint-proc-macro-core = { path = "./macros/blueprint-proc-macro-core", default-features = false, version = "0.1.0" }
blueprint-metadata = { path = "./blueprint-metadata", default-features = false, version = "0.1.0" }
cargo-tangle = { path = "./cli" }
cargo_metadata = { version = "0.18.1" }

# Tangle-related dependencies
pallet-services = { git = "https://github.com/webb-tools/tangle.git" }
pallet-services-rpc = { git = "https://github.com/webb-tools/tangle.git" }
tangle-primitives = { git = "https://github.com/webb-tools/tangle.git" }
tangle-subxt = { version = "0.1.4", default-features = false }

subxt-signer = { version = "0.37.0", default-features = false }
subxt = { version = "0.37.0", default-features = false }
round-based = "0.3.0"

sp-core = { version = "29.0.0", default-features = false }
sp-io = { version = "31.0.0", default-features = false }
sp-std = { version = "14.0.0", default-features = false }
sp-runtime = { version = "32.0.0", default-features = false }
sc-utils = { version = "15.0.0", default-features = false }
sp-api = { version = "27.0.1", default-features = false }
sp-application-crypto = { version = "31.0.0", default-features = false }
sp-consensus = { version = "0.33.0", default-features = false }
sp-consensus-aura = { version = "0.33.0", default-features = false }
sp-consensus-grandpa = { version = "14.0.0", default-features = false }
sp-keyring = { version = "32.0.0", default-features = false }
sp-keystore = { version = "0.35.0", default-features = false }
sp-timestamp = { version = "27.0.0", default-features = false }
sp-blockchain = { version = "29.0.0", default-features = false }
sp-block-builder = { version = "27.0.0", default-features = false }
sp-version = { version = "30.0.0", default-features = false }
sp-externalities = { version = "0.26.0", default-features = false }
sp-arithmetic = { version = "24.0.0", default-features = false }
sp-test-primitives = { git = "https://github.com/paritytech/polkadot-sdk", branch = "release-polkadot-v1.7.0", default-features = false }
sp-tracing = { version = "16.0.0", default-features = false }
sp-runtime-interface = { version = "25.0.0", default-features = false }

sc-client-api = { version = "29.0.0", default-features = false }
sc-offchain = { version = "30.0.0", default-features = false }
sc-basic-authorship = { version = "0.35.0", default-features = false }
sc-consensus-aura = { version = "0.35.0", default-features = false }
sc-consensus-grandpa = { version = "0.20.0", default-features = false }
sc-executor = { version = "0.33.0", default-features = false }
sc-service = { version = "0.36.0", default-features = false }
sc-keystore = { version = "26.0.0", default-features = false }
sc-telemetry = { version = "16.0.0", default-features = false }
sc-transaction-pool-api = { version = "29.0.0", default-features = false }
sc-cli = { version = "0.37.0", default-features = false }
sc-consensus = { version = "0.34.0", default-features = false }
sc-transaction-pool = { version = "29.0.0", default-features = false }
sc-rpc-api = { version = "0.34.0", default-features = false }
sc-rpc-spec-v2 = { version = "0.35.0", default-features = false }
sc-block-builder = { version = "0.34.0", default-features = false }
parity-scale-codec = { version = "3.6.5", default-features = false }

prometheus-endpoint = { version = "0.17.0", package = "substrate-prometheus-endpoint", default-features = false }
substrate-test-runtime = { git = "https://github.com/paritytech/polkadot-sdk", branch = "release-polkadot-v1.7.0", default-features = false }
substrate-test-runtime-client = { git = "https://github.com/paritytech/polkadot-sdk", branch = "release-polkadot-v1.7.0", default-features = false }

substrate-build-script-utils = { version = "11.0.0", default-features = false }
pallet-im-online = { version = "28.0.0", default-features = false }
substrate-frame-rpc-system = { version = "29.0.0", default-features = false }
pallet-transaction-payment-rpc = { version = "31.0.0", default-features = false }
fork-tree = { version = "12.0.0", default-features = false }
scale-info = { version = "2.10.0", default-features = false }

frame-system = { version = "29.0.0", default-features = false }
frame-support = { version = "29.0.2", default-features = false }
frame-executive = { version = "29.0.0", default-features = false }

pallet-balances = { version = "29.0.2", default-features = false }
pallet-timestamp = { version = "28.0.0", default-features = false }
pallet-session = { version = "29.0.0", default-features = false }
pallet-staking = { version = "29.0.3" }
pallet-session-historical = { git = "https://github.com/paritytech/polkadot-sdk", branch = "release-polkadot-v1.7.0", default-features = false }
pallet-evm = { git = "https://github.com/paritytech/frontier.git", branch = "polkadot-v1.7.0", default-features = false }
sp-staking = { version = "27.0.0", default-features = false }
sp-npos-elections = { version = "27.0.0" }
sp-session = { version = "28.0.0" }

# ARK Libraries
ark-std = { version = "0.4.0", default-features = false, features = ["print-trace", "std"] }
ark-crypto-primitives = { version = "0.4.0", default-features = false }
ark-ff = { version = "0.4.2", default-features = false }
ark-poly = { version = "0.4.2", default-features = false }
ark-ec = { version = "0.4.2", default-features = false }
ark-relations = { version = "0.4.0", default-features = false }
ark-serialize = { version = "0.4.2", default-features = false, features = ["derive"] }
ark-groth16 = { version = "0.4.0", default-features = false }
ark-inner-products = { git = "https://github.com/arkworks-rs/ripp", default-features = false }
ark-circom = { git = "https://github.com/webb-tools/ark-circom.git", default-features = false }
# ARK curves
ark-bls12-381 = { version = "0.4", default-features = false, features = ["curve"] }
ark-bn254 = { version = "0.4", default-features = false, features = ["curve"] }
ark-secp256k1 = { version = "0.4", default-features = false }
ark-ed25519 = { version = "0.4", default-features = false }

base64 = "0.22.1"
tokio-rustls = "0.24.1"
tokio = { version = "1.32.0", default-features = false }
tokio-util = { version = "0.7.10", default-features = false }
bincode2 = { version = "2" }
bincode = "1.3.3"
byteorder = { version = "1.5.0", default-features = false }
failure = "0.1.8"
futures-util = "0.3.30"
serde = { version = "1.0.197", default-features = false }
serde_json = "1.0"
url = { version = "2.5", default-features = false }
async-trait = "0.1.73"
async-recursion2 = "1.0.5"
log = "0.4.20"
tracing = { version = "0.1", default-features = false }
tracing-log = { version = "0.2", default-features = false }
tracing-subscriber = { version = "0.3", default-features = false }
tracing-core = { version = "0.1.32", default-features = false }
tracing-wasm = { version = "0.2.1" }
parking_lot = "0.12.1"
futures = "0.3.30"
hex = { version = "0.4.3", default-features = false }
auto_impl = "1.1.0"
uuid = "1.4.1"
bytes = "1.5.0"
serde_bytes = { version = "0.11.12", default-features = false }
itertools = "0.12.0"
strum = "0.26"
clap = "4.5.13"
color-eyre = { version = "0.6", features = ["tracing-error", "color-spantrace", "issue-url"] }
hex-literal = "0.4.1"
rand = "0.8.5"
rand_core = { version = "0.6", default-features = false }
getrandom = { version = "0.2.15", default-features = false }
rand_chacha = { version = "0.3.1" }
jsonrpsee = "0.16.2"
linked-hash-map = { version = "0.5.6", default-features = false }
k256 = { version = "0.13.2", default-features = false }
p256 = { version = "0.13.2", default-features = false }
ed25519-zebra = { version = "4" }
schnorrkel = { version = "0.11.4", default-features = false, features = ["preaudit_deprecated", "getrandom"] }
w3f-bls = { version = "0.1.3", default-features = false }
signature = "2.2.0"
starknet-crypto = "0.6.1"
sysinfo = "0.30.12"
anyhow = "1.0.79"
libsecp256k1 = "0.7.1"
rayon = { version = "1.8.0" }
thiserror = { version = "1" }
elliptic-curve = { version = "0.13.8" }
aes-gcm = { version = "0.10", default-features = false, features = ["aes", "alloc", "getrandom", "zeroize"] }
zeroize = { version = "1", default-features = false, features = ["alloc", "zeroize_derive"] }
substrate-prometheus-endpoint = { version = "0.17.0", default-features = false }
prometheus = { version = "0.13.0", default-features = false }
nix = { version = "0.29.0", features = ["process", "signal"] }
lazy_static = "1.4.0"
sqlx = "=0.7.3"
postcard = "1.0.8"
sha2 = "0.10.8"
derivation-path = "0.2.0"
libp2p = { version = "0.54", default-features = false }
structopt = "0.3.26"
env_logger = "0.11.3"
regex = "1.10.4"
num-bigint = "0.4.5"
reqwest = "0.12.4"
tree_magic_mini = "3.1.5"
jsonwebtoken = "9.3.0"
rsa = "0.9.6"
pretty_env_logger = "0.5.0"
scrypt = "0.11.0"
chacha20poly1305 = "0.10.1"
aws-config = "1.5.0"
aws-types = "1.3.0"
aws-sdk-s3 = "1.32.0"
aws-sdk-secretsmanager = "1.31.0"
aws-sdk-kms = "1.29.0"
picky-asn1-der = "0.5.0"
hyper = { version = "1.3.1", default-features = false }
pin-project-lite = "0.2.14"
http-body-util = "0.1.1"
backoff = { version = "0.4.0", features = ["tokio"] }
toml = "0.8.19"
derive_more = { version = "1.0.0", features = ["display"] }

anvil = { git = "https://github.com/foundry-rs/foundry.git" }
foundry-common = { git = "https://github.com/foundry-rs/foundry.git" }
alloy-chains = "0.1.23"
alloy-primitives = "0.7.7"
alloy-dyn-abi = "0.7.7"
alloy-json-abi = "0.7.7"
alloy-sol-types = "0.7.7"
alloy-rlp = "0.3.7"
alloy-trie = "0.4.1"
alloy-rpc-types = { version = "0.2.0" }
alloy-rpc-types-anvil = { version = "0.2.0" }
alloy-rpc-types-eth = { version = "0.2.0" }
alloy-rpc-types-trace = { version = "0.2.0" }
alloy-rpc-types-engine = { version = "0.2.0" }
alloy-genesis = { version = "0.2.0" }
alloy-node-bindings = { version = "0.2.0" }
alloy-provider = { version = "0.2.0", default-features = false, features = ["reqwest", "ws"] }
alloy-pubsub = { version = "0.2.0" }
alloy-transport-http = { version = "0.2.0" }
alloy-eips = { version = "0.2.0", default-features = false }
alloy-signer = { version = "0.2.0" }
alloy-signer-local = { version = "0.2.0" }
alloy-network = { version = "0.2.0" }
alloy-consensus = { version = "0.2.0" }
alloy-contract = { version = "0.2.0" }
alloy-transport = { version = "0.2.0" }
alloy-transport-ws = { version = "0.2.0" }
alloy-rpc-client = { version = "0.2.0" }

# WebAssembly
wasmtime = { version = "8.0.1", default-features = false }
wasm-bindgen = { version = "0.2.92" }
sp-wasm-interface = { version = "20.0.0", default-features = false }
wasmer = { version = "4.2.6", default-features = false }
wasm-bindgen-test = { version = "0.3.42" }

[profile.dev.package.backtrace]
opt-level = 3

