[package]
name = "gadget-networking"
version = "0.1.0"
authors.workspace = true
edition.workspace = true
license.workspace = true
homepage.workspace = true
repository.workspace = true

[dependencies]
# Internal deps
gadget-logging = { workspace = true }
gadget-std = { workspace = true }
gadget-tokio-std = { workspace = true }

# Core dependencies
auto_impl = { workspace = true }
dashmap = { workspace = true }
libp2p = { workspace = true }
tokio = { workspace = true }
futures = { workspace = true }
tracing = { workspace = true }
bincode = { workspace = true }
async-trait = { workspace = true }
lru-mem = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true, features = ["alloc"] }
hex = { workspace = true }
itertools = { workspace = true, features = ["use_alloc"]}
matchbox_socket = { workspace = true }
parking_lot = { workspace = true }
thiserror = { workspace = true }

# Crypto dependencies
gadget-crypto = { workspace = true, features = ["k256", "hashing"] }
k256 = { workspace = true }

# Optional dependencies for round-based protocol support
round-based = { workspace = true, optional = true }

[target.'cfg(not(target_family = "wasm"))'.dependencies.libp2p]
workspace = true
features = [
    "tokio",
    "gossipsub",
    "mdns",
    "noise",
    "macros",
    "yamux",
    "tcp",
    "quic",
    "request-response",
    "cbor",
    "identify",
    "kad",
    "dcutr",
    "relay",
    "ping",
    "dns",
    "autonat",
]

[features]
default = ["std", "round-based"]
std = [
    "gadget-crypto/std",
    "gadget-logging/std",
    "gadget-std/std",
    "gadget-tokio-std/std",
    "k256/std",
    "tokio/full",
    "serde/std",
    "serde_json/std",
    "round-based?/std",
]
rounds = ["round-based"]

[lints]
workspace = true
