[package]
name = "gadget-rpc-calls"
version = "0.1.0"
description = "RPC call metrics for Tangle Blueprints"
authors.workspace = true
edition.workspace = true
license.workspace = true
homepage.workspace = true
repository.workspace = true

[lints]
workspace = true

[dependencies]
gadget-logging = { workspace = true }
metrics = { workspace = true }

[features]
default = ["std"]
std = [
    "gadget-logging/std",
]
