[package]
name = "gadget-client-eigenlayer"
version = "0.1.0"
description = "Eigenlayer client for Tangle Blueprints"
authors.workspace = true
edition.workspace = true
license.workspace = true
homepage.workspace = true
repository.workspace = true

[lints]
workspace = true

[dependencies]
blueprint-runner = { workspace = true }

gadget-client-core = { workspace = true }
gadget-std = { workspace = true }
blueprint-evm-extra = { workspace = true }
alloy-contract = { workspace = true }
alloy-network = { workspace = true }
alloy-primitives = { workspace = true }
alloy-provider = { workspace = true }
alloy-pubsub = { workspace = true }
alloy-transport = { workspace = true }
eigensdk = { workspace = true, features = [
	"common",
	"client-avsregistry",
	"client-elcontracts",
	"logging",
	"services-blsaggregation",
	"services-operatorsinfo",
	"services-avsregistry",
	"types",
	"utils"
] }
num-bigint = { workspace = true }
thiserror = { workspace = true }
tokio = { workspace = true }
tokio-util = { workspace = true }
url = { workspace = true }

[dev-dependencies]
tracing-subscriber.workspace = true
gadget-eigenlayer-testing-utils.workspace = true
gadget-anvil-testing-utils = { workspace = true }
gadget-chain-setup-anvil = { workspace = true }
blueprint-evm-extra = { workspace = true }
alloy-primitives = { workspace = true }
tokio = { workspace = true, features = ["full"] }

[features]
default = ["std"]
std = [
	"gadget-std/std",
	"blueprint-evm-extra/std",
	"tokio/full",
	"gadget-client-core/std",
	"url/std",
]
