[package]
name = "gadget-common"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[lib]
crate-type = ["cdylib", "rlib"]

[dependencies]
libsecp256k1 = { version = "0.7" }
gadget-core = { workspace = true }
gadget-io = { workspace = true, default-features = false }
protocol-macros = { workspace = true }
serde = { workspace = true, features = ["derive"] }
serde_json = { workspace = true }
prometheus = { workspace = true, default-features = false }
auto_impl = { workspace = true }
async-trait = { workspace = true }
log = { workspace = true }
parking_lot = { workspace = true }
futures-util = { workspace = true }
hex = { workspace = true }
serde_bytes = { workspace = true }
anyhow = { workspace = true }
futures = { workspace = true }
round-based = { workspace = true }
round-based-21 = { workspace = true, features = ["derive"] }
sqlx = { workspace = true, features = ["runtime-tokio-rustls", "sqlite"], optional = true }
lazy_static = { workspace = true }
getrandom = { workspace = true }
tracing = { git = "https://github.com/tokio-rs/tracing", default-features = false, features = ["alloc"] }
tracing-subscriber = { git = "https://github.com/tokio-rs/tracing", default-features = false, features = ["alloc"] }
tracing-core = { git = "https://github.com/tokio-rs/tracing", default-features = false, features = ["alloc"] }
color-eyre = { workspace = true }

# Substrate
tangle-subxt = { workspace = true, optional = true }
subxt-signer = { workspace = true, default-features = false, features = ["subxt", "sr25519"], optional = true }
subxt = { workspace = true, optional = true, default-features = false }
sp-api = { workspace = true, optional = true, default-features = false }
sp-io = { workspace = true, optional = true, default-features = false }
sp-core = { workspace = true, optional = true, default-features = false }
sp-application-crypto = { workspace = true, optional = true, default-features = false }
sp-runtime = { workspace = true, optional = true, default-features = false }
sp-tracing = { workspace = true, optional = true, default-features = false }
sp-runtime-interface = { workspace = true, default-features = false }
sc-service = { workspace = true, optional = true, default-features = false }
sc-client-api = { workspace = true, optional = true, default-features = false }
substrate-prometheus-endpoint = { workspace = true, optional = true, default-features = false }
frame-support = { workspace = true, optional = true, default-features = false }
linked-hash-map = { workspace = true, optional = true, default-features = false }

parity-scale-codec = { workspace = true, optional = true }
scale-info = { workspace = true, optional = true }
thiserror = { workspace = true }

[features]
default = ["substrate", "std", "tangle-testnet"]
tangle-testnet = []
tangle-mainnet = []
substrate = [
    "gadget-core/substrate",
    "gadget-io/default",
    "tangle-subxt",
    "subxt-signer",
    "subxt/native",
    "subxt/jsonrpsee",
    "sp-api/default",
    "sp-io/default",
    "sp-core/default",
    "sp-runtime/default",
    "sp-application-crypto/default",
    "sp-tracing/default",
    "sc-service",
    "sc-client-api",
    "frame-support/std",
    "linked-hash-map",
    "substrate-prometheus-endpoint",
    "parity-scale-codec",
    "scale-info",
]
std = ["sqlx", "serde/std", "serde_bytes/std", "tracing/std", "tracing/attributes"]
wasm = [
    "gadget-io/wasm",
    "serde/alloc",
    "serde/derive",
    "serde_bytes/alloc",
    "tracing/alloc",
    "getrandom/js",
    "gadget-core/substrate",
    "subxt-signer/web",
    "subxt/web",
    "subxt/jsonrpsee",
    "sp-api",
    "sp-io/disable_panic_handler",
    "sp-io/disable_oom",
    "sp-io/disable_allocator",
    "sp-core/serde",
    "sp-core/full_crypto",
    "sp-runtime/serde",
    "sp-application-crypto/serde",
    "sp-application-crypto/full_crypto",
    "frame-support",
    "linked-hash-map",
    "parity-scale-codec",
    "scale-info",
]
testing = []

[dev-dependencies]
wasm-bindgen-test = "0.3.34"
