[package]
name = "blueprint-macros"
version = "0.1.0"
description = "Macros for blueprint sdk"
edition.workspace = true
homepage.workspace = true
license.workspace = true

[lints]
workspace = true

[lib]
proc-macro = true

[dependencies]
proc-macro2.workspace = true
quote.workspace = true
syn = { workspace = true, features = [
    "full",
    "parsing",
    # needed for `Hash` impls
    "extra-traits",
] }

# EVM
serde_json = { workspace = true, features = ["alloc"], optional = true }

[dev-dependencies]
blueprint-sdk = { workspace = true, features = ["macros"] }
serde = { workspace = true, features = ["derive"] }
serde_json = { workspace = true, features = ["alloc"] }
tokio = { workspace = true, features = ["full"] }
trybuild.workspace = true
rustversion.workspace = true

# TODO(serial): Document features
[features]
default = []
evm = ["dep:serde_json"]
__private = ["syn/visit-mut"]

[package.metadata.cargo-public-api-crates]
allowed = []

[package.metadata.docs.rs]
all-features = true
