[package]
name = "gadget-sdk"
version = "0.1.0"
authors.workspace = true
edition.workspace = true
homepage.workspace = true
repository.workspace = true


[dependencies]
thiserror = { workspace = true }
parking_lot = { workspace = true }
rand_core = { version = "0.6.4", default-features = false }
rand = { workspace = true, optional = true }
hex = { version = "0.4.3", default-features = false }

# Keystore deps
k256 = { version = "0.13", default-features = false, features = ["arithmetic", "ecdsa"], optional = true  }
elliptic-curve = { version = "0.13", default-features = false, optional = true }
ed25519-zebra = { version = "4", default-features = false, features = [], optional = true }
schnorrkel = { version = "0.11.4", features = ["preaudit_deprecated"], default-features = false, optional = true }
w3f-bls = { version = "0.1.3", default-features = false, optional = true }

# Metrics deps
hyper = { version = "0.14.16", default-features = false, features = ["http1", "server", "tcp"] }
log = { workspace = true, default-features = true }
prometheus = { version = "0.13.0", default-features = false }
tokio = { version = "1.22.0", features = ["rt-multi-thread", "parking_lot"] }

# Logging deps
tracing = "0.1.40"
tracing-log = "0.2.0"
slog = "2.7.0"

[dev-dependencies]
hyper = { version = "0.14.16", default-features = false, features = ["client"] }
slog-term = "2.9.1"

[features]
default = ["full", "std"]
std = [
  "alloc",
  "rand",
  "getrandom",
  "hex/std",
  "elliptic-curve/std"
]
alloc = ["k256/alloc", "rand_core/alloc", "hex/alloc", "schnorrkel/alloc"]
full = [
  "keystore",
]

# Randomness
getrandom = ["rand_core/getrandom"]

# Keystore features
keystore = [
  "keystore-ecdsa",
  "keystore-sr25519",
  "keystore-ed25519",
  "keystore-bls381",
  "keystore-fs",
]
keystore-ecdsa = ["k256", "elliptic-curve/sec1"]
keystore-sr25519 = ["schnorrkel"]
keystore-ed25519 = ["ed25519-zebra"]
keystore-bls381 = ["w3f-bls"]
# Keystore backends
# Requires: std
keystore-fs = []
