[package]
name = "blueprint-test-utils"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[features]
default = ["std"]
std = [
    "sp-core/std",
    "sp-application-crypto/std",
    "sp-io/std",
    "sp-runtime/std",
    "sp-std/std",
    "sp-keystore/std",
    "sp-externalities/std",
    "frame-support/std",
    "frame-system/std",
    "gadget-io/std",
    "tangle-primitives/std",
    "sc-client-api",
    "sc-utils",
    "pallet-services/std",
    "pallet-balances/std",
]
wasm = [
    "sp-application-crypto/serde",
    "sp-runtime/serde",
    "sp-io/disable_panic_handler",
    "sp-io/disable_oom",
    "sp-io/disable_allocator",
    "gadget-io/wasm-bindgen",
    "getrandom/js",
]

[dependencies]
blueprint-manager = { workspace = true }
getrandom = { workspace = true, optional = true, default-features = false }
environment-utils = { workspace = true }
parking_lot = { workspace = true }
tokio = { workspace = true, features = ["full"] }
futures = { workspace = true }
sp-io = { workspace = true, default-features = false }
libp2p = { workspace = true, default-features = false }
log = { workspace = true }
async-trait = { workspace = true }
frame-support = { workspace = true, default-features = false }
frame-system = { workspace = true, default-features = false }
gadget-io = { workspace = true, default-features = false }
tangle-environment = { workspace = true }
sc-client-api = { workspace = true, optional = true, default-features = false }
sc-utils = { workspace = true, optional = true, default-features = false }
sp-api = { workspace = true, default-features = false }
sp-core = { workspace = true, default-features = false }
sp-runtime = { workspace = true, default-features = false }
sp-keystore = { workspace = true, default-features = false }
sp-std = { workspace = true, default-features = false }
sp-application-crypto = { workspace = true, default-features = false, features = ["full_crypto"] }
sp-externalities = { workspace = true, default-features = false }
tangle-primitives = { workspace = true, features = ["verifying"] }
scale-info = { workspace = true, default-features = false, features = ["derive"] }
parity-scale-codec = { workspace = true }
serde = { workspace = true }
tracing-subscriber = { workspace = true, features = ["env-filter"] }
sp-npos-elections = { workspace = true }
sp-session = { workspace = true }

# Pallets
pallet-timestamp = { workspace = true }
pallet-balances = { workspace = true }
pallet-services = { workspace = true }
pallet-session = { workspace = true }
pallet-staking = { workspace = true }
pallet-evm = { workspace = true }
sp-staking = { workspace = true }
url = { workspace = true }

gadget-blueprint-proc-macro-core = { workspace = true }
cargo-tangle = { workspace = true, default-features = true }

[dev-dependencies]
cargo_metadata = { workspace = true }
