[package]
name = "incredible-squaring-blueprint"
version = "0.1.0"
description = "A Simple Blueprint to demo how blueprints work on Tangle Network"
authors.workspace = true
edition.workspace = true
license.workspace = true
homepage.workspace = true
repository.workspace = true

[[bin]]
name = "incredible-squaring-gadget"
path = "./src/main.rs"
required-features = ["default"]

[dependencies]
eigensdk-rs = { workspace = true }
tracing = { workspace = true }
async-trait = { workspace = true }
gadget-sdk = { workspace = true, features = ["std"] }
gadget-common = { workspace = true, features = ["std"] }
color-eyre = { workspace = true, optional = true }
lock_api = { workspace = true }
tokio = { workspace = true, default-features = false, features = ["full"], optional = true }
serde = { workspace = true, features = ["derive"] }
serde_json = { workspace = true }
sp-core = { version = "34.0.0" }
subxt-signer = { workspace = true, features = ["sr25519", "subxt", "std"], optional = true }
tracing-subscriber = { workspace = true, features = ["parking_lot", "env-filter"], optional = true }
alloy-contract = { workspace = true }
alloy-json-abi = { workspace = true, features = ["serde_json"] }
alloy-network = { workspace = true }
alloy-primitives = { workspace = true }
alloy-provider = { workspace = true }
alloy-rpc-types = { workspace = true }
alloy-signer = { workspace = true }
alloy-signer-local = { workspace = true }
alloy-sol-types = { workspace = true, features = ["json"] }
alloy-transport = { workspace = true }
parking_lot = { workspace = true }
multiaddr = { workspace = true }
libp2p = { workspace = true }
ed25519-zebra = { workspace = true, features = ["pkcs8", "default", "der", "std", "serde" ,"pem"] }

[build-dependencies]
blueprint-metadata = { workspace = true }

[features]
default = ["std"]
std = ["dep:tokio", "dep:color-eyre", "dep:subxt-signer", "dep:tracing-subscriber"]
