[package]
name = "gadget-client-evm"
version = "0.1.0"
description = "EVM client for Tangle Blueprints"
authors.workspace = true
edition.workspace = true
license.workspace = true
homepage.workspace = true
repository.workspace = true

[lints]
workspace = true

[dependencies]
blueprint-core = { workspace = true }
gadget-std = { workspace = true }
gadget-client-core = { workspace = true }

hex = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true, features = ["alloc"] }
thiserror = { workspace = true }
url = { workspace = true }

# Alloy dependencies
alloy-primitives = { workspace = true }
alloy-provider = { workspace = true }
alloy-transport = { workspace = true }
alloy-network = { workspace = true }
alloy-json-rpc = { workspace = true }
alloy-consensus = { workspace = true }
alloy-rlp = { workspace = true }
alloy-rpc-client = { workspace = true }
alloy-rpc-types = { workspace = true, features = ["eth"] }
alloy-rpc-types-eth = { workspace = true }
alloy-pubsub = { workspace = true }
alloy-transport-http = { workspace = true }
tokio = { workspace = true }

# Metrics
gadget-rpc-calls = { workspace = true }

[dev-dependencies]
blueprint-evm-extra = { workspace = true }
gadget-anvil-testing-utils = { workspace = true }
gadget-chain-setup-anvil = { workspace = true }
alloy-signer-local = { workspace = true }
testcontainers = { workspace = true }

[features]
default = ["std", "tracing"]
std = [
    "gadget-rpc-calls/std",
    "gadget-client-core/std",
    "gadget-std/std",
    "hex/std",
    "serde/std",
    "serde_json/std",

    # Alloy features
    "alloy-primitives/std",
]
tracing = ["blueprint-core/tracing"]
